.items::-webkit-scrollbar {
  width: 0 !important;
}

.items {
  height: 100%;
  display: flex;
  gap: 5px;
  width: 100%;
  /* border: 3px solid crimson; */
  max-width: 1300px;
  margin: 20px auto 0;
}
div.items {
  background-color: transparent;
  overflow: auto;
  /* white-space: nowrap; */
}

.posted-item {
  height: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
  /* border: 4px solid goldenrod; */

  color: black;
  border: 1px solid rgba(128, 128, 128, 0.259);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background-color: #a1cdf471;
  padding: 10px 0;
}
.item-images {
  padding: 0 5px;
  align-items: center;
  padding-top: 5px;
}
.item-images img {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
.item-actions {
  /* border: 1px solid crimson; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item-actions h3 {
  font-size: 14px;
  text-align: left;
}
.item-info {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}
.item-info button {
  width: 100%;
  height: 3rem;
  /* background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(52, 9, 121, 1) 0%,
      rgba(132, 0, 255, 1) 100%
    ); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 9, 121, 1) 0%,
    rgba(0, 35, 255, 1) 100%
  );
  box-shadow: 2px 5px 0 rgba(55, 51, 115, 0.3);
  background: #006494;
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 700;

  border: none;
  cursor: pointer;
  padding: 0 16px;
}

.item-info p {
  color: crimson;
  font-weight: 500;
  font-size: 14px;
}
.item-timer {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 7px;
  padding-bottom: 5px;
  font-size: 13px;
}
.header {
  height: 1.5rem;
}
