.categories-container {
  width: 100%;
  max-width: var(--container-width-lg);
  margin: 20px auto 0;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid rgba(128, 128, 128, 0.437);
  padding: 0 5px;
  font-family: "Fira Sans Condensed", sans-serif;
}
.current-listings p {
  overflow-x: hidden;
}

.categories {
  overflow-x: hidden;
}
.categories h3,
.current-listings h3,
.current-listings p,
.categories p {
  margin: 0;
}
.current-item-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.current-item-header h3 {
  color: var(--color-secondary);
}
.current-item-header p {
  color: green;
  font-weight: 700;
}
.categories-listings {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 5px;
}
.category {
  display: flex;
  justify-content: center;
  align-items: center;
}
.secondary-advertisements {
  display: none;
}
#sedan {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2015/08/11/22/33/nissan-885308_960_720.jpg")
    no-repeat center center/cover;
}
#truck {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2016/09/25/18/29/nissan-1694345_960_720.jpg")
    no-repeat center center/cover;
}
#SUV {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2020/06/13/19/25/mercedes-benz-gls-5295558_960_720.jpg")
    no-repeat center center/cover;
}

#sport {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2012/11/03/22/41/ford-64041_960_720.jpg")
    no-repeat center center/cover;
}

#classic {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2019/08/08/23/33/car-4393990_960_720.jpg")
    no-repeat center center/cover;
}
#heavy {
  height: 200px;
  background: url("https://cdn.pixabay.com/photo/2019/08/22/20/18/truck-4424342_960_720.jpg")
    no-repeat center center/cover;
}

#sedan h3,
#truck h3,
#SUV h3,
#sport h3,
#classic h3,
#heavy h3 {
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 28px;
  color: black;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.876);
  letter-spacing: 2px;
  font-weight: 700;
  border: 1px solid rgba(0, 0, 0, 0.148);
  transition: 1s ease-in-out;
}
.category h3:hover {
  text-decoration: underline;
}
.ad2 {
  width: 100%;
  display: none;
}
.ad-sm {
  display: flex;
  justify-content: center;
}
.featured-item {
  margin: 0 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.featured-item img {
  transition: 500ms ease-in-out;

  animation: opacityAnimation 10s;
}
@media only screen and (min-width: 768px) {
  .categories-container {
    grid-template-columns: 4fr 1fr;
  }
  .current-item {
    display: none;
  }

  .secondary-advertisements {
    display: block;
    cursor: pointer;
  }
  .ad2 {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    transition: 500ms ease-in-out;
    transform: scale(0.995);
  }
  .ad2:hover {
    opacity: 0.8;
    transform: scale(1);
  }
  .ad-sm {
    display: none;
  }
  .current-listings.container.items {
    background-color: aqua;
  }
  .category:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  .categories-listings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
