@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600;700&display=swap");
.App {
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
:root {
  /* --color-bg: #1f1f38; */
  --color-bg: #080f0fb6;
  /* --color-bg-variant: #2c2c6c; */
  --color-bg-variant: #36486b;

  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: white;
  --color-light: rgba(255, 255, 255, 0.6);
  --transition: all 400ms ease;
  --container-width-lg: 1300px;
  --container-width-md: 900px;

  /*Social media*/
  --color-brand: gold;
  --color-primary: #058ed9;
  --color-secondary: #006494;
  --primary-alternate: #00b4cc;

  --secondary-alternate: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.75;
  }
  55% {
    opacity: 0.85;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes svgAnimation {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
}
