@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600;700&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.btn-primary {
  height: 2rem;
  width: 50%;
  background: var(--color-primary);
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Fira Sans Condensed", sans-serif;
}

.btn-secondary {
  /* background-color: red; */
  height: 40px;
  width: 10rem;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.25px;
  cursor: pointer;
}
.btn-alternate {
  background-color: var(--color-brand);
  height: 40px;
  width: 15rem;
  border: none;
  color: var(--color-secondary);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1.25px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Fira Sans Condensed", sans-serif;
  letter-spacing: 3px;
}
.btn-bid {
  width: 100%;
  max-width: 20rem;
  height: 3rem;
  font-size: 19px;
  border-radius: 4px !important;
}
.navbar_Search {
  background: white;
  display: grid;
  grid-template-columns: 1fr 7fr 2fr;
  align-items: center;
  padding: 2px 5px;
  border-radius: 4px;
  height: 40px;
  max-width: 1300px;
  /* border: 2px solid crimson; */
}
.navbar_Search i {
  color: #006494;
  font-size: 18px;
}
.navbar_Search input {
  height: 2rem;
  border: none;
}
.navbar_Search input:focus {
  border: none;
  outline: none;
}
.navbar_Search select {
  height: 2rem;
  border: 1px solid rgba(128, 128, 128, 0.514);
  padding: 5px;
}
.navbar_Search option {
  padding: 5px;
  height: 2rem;
  color: rgba(0, 0, 0, 0.623);
}

/*bid-timer*/
.time-unit {
  margin-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.time-unit h3 {
  width: 2rem;
  text-align: center;
  background: var(--color-primary);
  background: rgba(0, 0, 0, 0.811);
  background-color: transparent;
  color: white;
  color: var(--color-primary);
  border-radius: 2px;
  padding: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  letter-spacing: 1.25px;
  border: 1px solid rgba(128, 128, 128, 0.475);
}
.time-unit p {
  font-weight: 700;
  text-align: center;
  font-size: 12px;
}
.item-info p {
  color: rgb(49, 104, 150);
  font-weight: 700;
  font-size: 16px;
}
.item-timer {
  /* height: 2rem; */
  /* border: 3px solid crimson; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 7px;
  padding-bottom: 5px;

  text-align: center;
}
.header {
}

@media only screen and (min-width: 768px) {
  .btn-primary {
    height: 3rem;
    font-size: 18px;
    letter-spacing: 4px;
    font-weight: 600;
  }
  .btn-bid:hover {
    background-color: var(--color-brand);
    box-shadow: 0px 15px 20px rgba(46, 104, 229, 0.4);
    color: var(--color-secondary);
    transform: translateY(-1px);
  }
}
