.nav-container {
  width: 100%;
  background-color: #006494;
}
.navbar {
  height: auto;

  /* border: 3px solid crimson; */
  padding: 0 5px 5px;
  /* width: 100%; */
  /* border: 3px solid crimson; */
  max-width: 1300px;
  margin: 0 auto;
  color: white;
}

.navbar i {
  color: #14213d;
  color: #006494;
  color: white;
  font-size: 25px;
  cursor: pointer;
}
.navbar h3 {
  font-size: calc(18px + 0.2vw);
}
.navbar_Header {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid orange; */
  width: 100%;
}
.navbar-si-post {
  width: 35%;
  max-width: 200px;
  /* border: 2px solid crimson; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid cadetblue; */
  padding: 0 2px;
}
.navbar-si-post h5 {
  cursor: pointer;
}
/*search-bar*/
.search {
  width: 100%;
  position: relative;
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00b4cc;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #00b4cc;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00b4cc;
  background: #00b4cc;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
/* .wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/***/
.search-result {
  padding: 5px 0px;
  background-color: aliceblue;
  width: calc(100% - 40px);
}
.result {
  background-color: aliceblue;

  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}
.navbar_Options {
  margin: 10px auto;
  display: flex;
  justify-content: space-evenly;
}
.navbar_Options-md {
  display: none;
}
.btn-primary {
  height: 2rem;
  background: #00b4cc;
  color: white;
  font-size: 14px;
  letter-spacing: 1.25px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

@media only screen and (min-width: 600px) {
  .navbar_Options-md {
    display: flex;
    justify-content: space-between;
  }
  .navbar_Options {
    display: none;
  }
}
