.bid-page-container {
  border: none;
}
.upper-section {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media only screen and (min-width: 600px) {
  .image-select {
    grid-template-columns: repeat(4, 1fr);
  }
  .upper-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}
