.xl-slide {
  margin-bottom: 50px;
  width: 95%;
  background-color: aliceblue;
  padding: 2px;
}
.slider {
  overflow-x: visible;
  display: flex;
  background-color: aliceblue;
  padding: 0 5px;
}
.slider-header h3 {
  padding: 10px;
  color: var(--color-secondary);
}
.slider-box {
  position: relative;

  width: 68%;
  background-color: white;
}
.slider-container {
  width: 100%;
  padding: 5px;
  overflow-x: hidden;
  background-color: aliceblue;
  border: none;
}
/* .slider {
  width: fit-content;
  overflow-x: visible;
} */
.posted-item-slider {
  border: 1px solid rgba(128, 128, 128, 0.434);
  padding: 2px;
}
.slider-content {
  /* border: 4px solid orange; */
  transform: translateX(0%);
  overflow-x: visible;
  display: flex;
  transition: 900ms ease-in-out;
  border: none;
}
.slider-content-moved {
  /* border: 4px solid orange; */
  transform: translateX(-100%);
  overflow-x: visible;
  display: flex;
  transition: 900ms ease-in-out;
  border: none;
}

.arrow {
  background-color: var(--color-primary);
  width: 65px;
  height: 65px;
  font-size: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  opacity: 0.8;
  cursor: pointer;
  z-index: 10;
  transition: 1000ms ease-in-out;
}

#arrow-left {
  left: -3.5%;
}
#arrow-right {
  right: -3.5%;
}

.no-show {
  display: none;
}

/**/
.item-images {
  padding: 5px;
  align-items: center;
  padding-top: 5px;
}
.item-images img {
  min-width: 200px;
  min-height: 120px;
  max-width: 200px;
  max-height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
.item-actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.item-actions h3 {
  font-size: 17px;
  text-align: left;
}
.item-info {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}
.item-info.header {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  padding: 2px 5px;
  margin-top: -10px;
}
.slider-advertisement {
  width: 90%;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: goldenrod;
  padding: 5px;
  border-radius: 3px;
  overflow-x: hidden;
}
.slider-advertisement img {
  width: 350px;
  transition: 1000ms ease-in-out;
  animation: flashing 4s infinite;
  animation: pop-in-view 1000ms, flashing 4s infinite;
}
@keyframes flashing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop-in-view {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@media only screen and (max-width: 767px) {
  .xl-slide {
    display: none;
  }
}
