@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
.main-container {
  min-height: 85vh;

  background-color: whitesmoke;
  width: 100%;
}

.promotion {
  background-color: purple;
  height: 40vh;
  margin: 5px auto;
}
.recommendations {
  margin: 10px auto;
}
