@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
.main-container {
  min-height: 85vh;
  border: 3px solid green;
  background-color: #14213d;
}

.promotion {
  background-color: purple;
  height: 40vh;
  margin: 5px auto;
}
.recommendations {
  margin: 10px auto;
}
.items::-webkit-scrollbar {
  width: 0 !important;
}

.items {
  height: 100%;
  display: flex;
  gap: 5px;
}
div.items {
  background-color: transparent;
  overflow: auto;
  /* white-space: nowrap; */
}

.posted-item {
  height: 100%;
  display: grid;
  grid-template-rows: 3fr 1fr;
  /* border: 4px solid goldenrod; */

  color: black;
  border: 1px solid rgba(128, 128, 128, 0.459);
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}
.item-images {
  padding: 0 5px;
  align-items: center;
  padding-top: 5px;
}
.item-images img {
  width: 300px;
  height: 340px;
  object-fit: cover;
  border-radius: 5px;
}
.item-actions {
}
.item-actions h3 {
  text-align: center;
}
.item-info {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0 7px;
}
.item-info button {
  width: 100%;
  height: 3rem;
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 9, 121, 1) 0%,
    rgba(132, 0, 255, 1) 100%
  ); */
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 9, 121, 1) 0%,
    rgba(0, 35, 255, 1) 100%
  );
  color: white;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 700;
  border-radius: 5px;

  cursor: pointer;
}
.item-timer {
  height: 2rem;
  display: flex;
  align-items: center;
  padding: 0 7px;
  padding-bottom: 5px;
}
.item-info p {
  color: crimson;
  font-weight: 500;
}
.header {
  height: 1.5rem;
}
