@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600;700&display=swap");
.container {
  width: 100%;
  max-width: var(--container-width-lg);
  margin: 5px auto;
  border: 1px solid rgba(128, 128, 128, 0.273);
  font-family: "Fira Sans Condensed", sans-serif;
}
.main-container {
  min-height: 85vh;

  background-color: whitesmoke;
  width: 100%;
}

@media only screen and (min-width: 768px) {
}
