.promotion {
  background-color: var(--color-primary);
  padding: 0 5px;
  height: fit-content;
  margin: 5px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  height: 160px;
  border-radius: 4px;
}
.promotion-info h5 {
  line-height: 1.8em;
}
.promotion-images {
  transition: 500ms ease-in-out;
  animation: svgAnimation 500ms;
}
.promotion-images img {
  height: 100%;

  /* border: 2px solid green; */
}
.promotion-info {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  /* border: 2px solid orange; */
}
.promotion-cto {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* border: 2px solid orange; */
}
.promotion-lg {
  display: none;
}
@media only screen and (min-width: 768px) {
  .promotion {
    display: none;
  }
  .promotion-lg {
    width: 100%;
    margin: 10px auto;
    max-width: var(--container-width-lg);
    display: grid;
    grid-template-columns: 1fr 7fr;
    border: 1px solid grey;
    padding: 0 10px;
    background-color: var(--color-secondary);
    color: aliceblue;
    border-radius: 5px;
    transition: 800ms ease-in-out;
    animation: opacityAnimation 5s;
    overflow-x: hidden;
    cursor: pointer;
  }
  .promotion-lg img {
    width: 130px;
    transition: 500ms ease-in-out;
    animation: svgAnimation 500ms;
  }
  .promotion-info-lg {
    /* border: 3px solid green; */
    padding: 5px 15px;
    line-height: 1.8em;
    letter-spacing: 1.25px;
    text-align: center;
  }
  .promotion-info-lg h3 {
    margin: 0;
  }
  .promotion-lg:hover {
    transform: scale(1.01);
    opacity: 0.9;
    overflow-x: auto;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.85;
  }
  50% {
    opacity: 0.75;
  }
  55% {
    opacity: 0.85;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes svgAnimation {
  0% {
    transform: translateX(-90px);
  }
  100% {
    transform: translateX(0);
  }
}
