@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@200;300;400;600;700&display=swap");
.footer {
  width: 100%;
  font-family: "Fira Sans Condensed", sans-serif;
}
.footer-main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1300px;
}
.footer-main h3 {
  color: grey;
  color: var(--color-secondary);
  margin-bottom: 10px;
}

.footer-main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-social-media {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* border: 3px solid crimson; */
}
.footer-social-media i {
  color: var(--primary-alternate);
  font-size: 24px;
  padding: 15px 0;
}
.small {
  color: var(--color-secondary);
  margin: 10px auto !important;
  width: 100% !important;
  max-width: var(--container-width-lg);

  margin-left: 100px;
  text-align: center;
  font-size: 14px;
}
@media only screen and (min-width: 600px) {
  .footer-main {
    flex-direction: row;
    width: 100%;
    margin: 100px auto;
    justify-content: space-between;
  }
  .footer-main ul {
    gap: 10px;
  }
  .footer-social-media {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    width: 100%;
    max-width: var(--container-width-md);
  }
}
